html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 40px 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    padding: 30px;
    color: "";
    font-size: 0;
    cursor: pointer;
    border-radius: 8px;
    background-color: #d6c848;
    transition: background-color 0.3s ease-in-out;
}
.card:hover {
    background-color: #b3ac7f;
}
.card:active {
    background-color: #756a06;
}

.open {
    color: #fff;
    font-size: 60px;
    cursor: default;
}
