html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.game {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
    padding: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    /* color: rgb(95, 14, 78); */
    color: transparent;
    font-size: 0;
    cursor: pointer;

    background-color: cadetblue;
    border-radius: 8px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: rgb(134, 175, 177);
}
.card:active {
    background-color: rgb(64, 181, 185);
}
.open {
    color: rgb(95, 14, 78);
    font-size: 70px;
    background-color: cadetblue;
    cursor: default;
}

.open:hover {
    background-color: cadetblue;
}
.open:active {
    background-color: cadetblue;
}

.success {
    color: rgb(95, 14, 78);
    font-size: 70px;
    background-color: rgb(20, 189, 43);
    cursor: default;
}

.success:hover {
    background-color: rgb(20, 189, 43);
}
.success:active {
    background-color: rgb(20, 189, 43);
}
